[buildout]
extends =
# The KGS develop extends must be at the top.
    http://kgs.4teamwork.ch/release/opengever/develop
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/sources.cfg
# The standard-sources.cfg must be re-included here again because the sources.cfg
# of opengever.core cleared the extensions. This is a buildout bug.
    https://raw.githubusercontent.com/4teamwork/gever-buildouts/master/standard-sources.cfg

auto-checkout =
    ${buildout:deployment-checkouts}
    ${buildout:development-packages}
    opengever.core


[branches]
# If you extend this file you want to deploy "master" of opengever.core,
# otherwise you want to make your own copy of this file!
# Be sure to change the branch-name then in the extends at line 2.
opengever.core = master