# If you extend this file you want to deploy "master" of opengever.core,
# otherwise you want to make your own copy of this file and replace all
# occurance of "master" with the tag or branchname.

[buildout]
extends =
    https://raw.githubusercontent.com/4teamwork/opengever.core/solr-update-840/versions.cfg
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/sources.cfg

auto-checkout += opengever.core


[branches]
opengever.core = master

[upgrade]
eggs += ftw.upgrade[colors]
