[buildout]
# Variables:
# deployment-number =
# client-policy = opengever.demo.fd
# raven_tags = {"deployment": "demo-fd"}

extends =
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/production.cfg
    http://buildout-proxy.4teamwork.ch/4teamwork/opengever-buildouts/master/ruby-gems.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/warmup.cfg
    https://raw.githubusercontent.com/4teamwork/gever-buildouts/master/standard-sources.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/haproxy.cfg

# Drop plone.recipe.precompiler in order to avoid scanning the entire
# deployment directory when using policies / buildouts with develop = .
parts -=
    precompile

usernamelogger_ac_cookie_name = __ac
raven_project_dist = opengever.core

instance-eggs +=
    opengever.core
    opengever.maintenance
    ftw.zopemaster
    ftw.raven

zcml-additional-fragments +=
    <include package="${buildout:client-policy}" />


[instance0]
environment-vars +=
    SABLON_BIN ${buildout:sablon-executable}
    USERNAMELOGGER_AC_COOKIE_NAME ${buildout:usernamelogger_ac_cookie_name}
    RAVEN_PROJECT_DIST ${buildout:raven_project_dist}
    RAVEN_TAGS ${buildout:raven_tags}
