# Tests whether the lastest opengever.core development still works with a policy.
# Should be extended within the policy package.

[buildout]
extends =
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-package.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-versions.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/4teamwork-psc.cfg
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/sources.cfg
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/versions.cfg

jenkins_python = $PYTHON27
development-packages += opengever.core

# package-name = opengever.fancycustomer
